<footer class="container mx-auto max-w-7xl py-8">
    <div class="pb-6 lg:pb-10 text-white">
        <div class="flex flex-wrap items-start justify-between">
            <div class="w-full lg:w-1/5 mb-6 lg:mb-0"></div>
            <div class="w-full lg:w-auto">
                <ul class="flex flex-wrap space-x-4 lg:space-x-8 items-center text-sm">
                    <li class="mb-2 md:mb-0"><a class="text-sm font-medium" href="/impressum">Impressum</a></li>
                    <li class="mb-2 md:mb-0"><a class="text-sm font-medium" href="/datenschutz">Datenschutz</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
